.search-result-element{
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    &::part(native){
        flex-direction:column;
    }
    .element-name{

        padding-bottom:5px;
        font-size: 17px;
        font-weight: 600;
    }
    .element-search{
        .element-vin,.element-stock{
            .name{
                font-size:17px;
                line-height: 22px;
            }
            .value{
                padding-left:3px;
                font-size:12px;
                color:rgba(255,255,255,0.7);
                .matched{
                    font-size:12px;
                    color:#3880ff;
                }
            }

        }
        .element-stock{
            margin-left:10px;
        }
    }
}


