.logo{
    width:226px;
    height: 46px;
}

.full-height{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.login-btn{
    
    position: relative;
    margin:20px 0 0 0;
    padding: 2px;
    width:100%;
    border-radius: 23px;
    --border-radius: 25px;
    height: 46px;
    border-width: 0;
    border-color:transparent;
    --box-shadow:none;
    --background:linear-gradient(to right, #181818 , #202124);
    overflow: hidden;
    
    &::part(native){
        --border-width:2px;
        --border-style:solid;
        --border-color:transparent;
        position: relative;
    }
    &::before{
        position: absolute;
        content:'';
        top:50%;
        left:-2px;
        width:100vw;
        border-radius: 50%;
        transform: translate(-28px, -50%) rotate(120deg);
        height:100vw;
        transform-origin: center;
        background: rgb(60,64,67);
        background: conic-gradient(
            rgba(60,64,67,1)0 30%,
            rgba(248,249,250,1)38% 40%,
            rgba(0,123,255,1) 48% 70%,
            rgba(60,64,67,1)) 90% 100%;
        border-color:green;
        z-index: -10;
        animation: 5s rotate linear infinite;
    }
    @keyframes rotate {
        0%{
            transform:translate(-28px, -50%) rotate(120deg);
        }
        10%{
            transform:translate(-28px, -50%) rotate(140deg);
        }
        50%{
            transform:translate(-28px, -50%) rotate(300deg);
        }
        60%{
            transform:translate(-28px, -50%) rotate(320deg);
        }
        100%{
            transform:translate(-28px, -50%) rotate(480deg);
        }
    }
}