.vehicleDetails{
    &.ion-page{
        ion-header{
            +ion-content{
                ion-grid{
                    ion-row{
                        overflow: visible;
                    }
                }
            }
        }
    }
    ion-row{
        height:100%;
        overflow: scroll;
        flex-direction: column;
        flex-wrap: nowrap;
        ion-col{
            position: relative;
            ion-item{
                border-bottom-color:transparent;
            }
            flex:0 0 auto!important;
            &:nth-of-type(2){
                text-align: right;
                flex:1 0 auto!important;
                ion-buttons{
                    &.camera-buttons{
                        height: 100%;
                        margin:0 auto;
                        display: inline-flex;
                        flex-direction: column;
                        justify-content:center;
                        ion-button{
                            align-self: flex-start;
                            height:50px;
                            margin:35px 0;
                            text-transform: capitalize;
                            ion-icon{
                                font-size: 50px;
                                margin-right:15px;
                            }
                        }
                    }
                }
                .car-image{
                    height: 100%;
                    position: absolute;
                    top:0;
                    left:0;
                    padding:25px 0 40px 0;
                    transform: translate(-38%);
                    box-sizing: border-box;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}