<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NovoCap.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.0.0.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
				<key>dateExpires</key>
				<string>03.02.2024</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorCamera.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunityBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorCommunityCameraPreview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorFilesystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorNetwork.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorSplashScreen.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AE0460D699D1637BDD1FD59630CA023132AEB375</string>
						<key>dateExpires</key>
						<string>03.02.2024</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CordovaPlugins.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>EVA7GELJ48</string>
						<key>name</key>
						<string>Stempora Labs S.R.L.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>EVA7GELJ48.io.ionic.novo.new</string>
				<key>com.apple.developer.team-identifier</key>
				<string>EVA7GELJ48</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>NovoCap.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e0c9276a-9645-4dcd-96cf-b4f047bcbee0</string>
				<key>dateExpires</key>
				<string>03.02.2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>EVA7GELJ48</string>
				<key>name</key>
				<string>Stempora Labs S.R.L.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
