.input-group{
    display: flex;
    flex-direction: row;
    justify-content: center;
    input{
        width:45px;
        border:none;
        border-bottom:1px solid #F8F9FA;
        background: transparent;
        color:#fff;
        text-align: center;
        &:focus{
            border-bottom-color: #fff;
        }
        &:focus-visible{
            outline: none;
        }
        + input{
            margin-left:9px
        }
    }
}