@import "../../../../src/theme/app.scss";

ion-item{
    &.item{
        --background:transparent;
        --border-color:#F8F9FA;
        --highlight-color-focused:transparent;
        &.item-has-focus{
            caret-color: white;
            --border-color:white;
            --highlight-height: 0px;
            --highlight-color-focused:white;
            
        }
        ion-label{
            &.label-stacked{
                span{
                    color:$inactive-grey;
                    @include context(".item",".item.item-has-focus"){
                        color:white;
                    }
                }
            }
        }
    }
}