.addVehicle {
    &.camera-open {
        background-image: none;
        > * {
            opacity: 1;
        }
        ion-content {
            position: relative;
            ion-row {
                height: 100%;
                ion-col {
                    position: relative;
                    .layer {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;

                        &::before {
                            border-top: 3px solid red;
                            border-left: 3px solid red;
                            border-radius: 40px 0 0 0;
                            top: 35%;
                            left: 15%;
                        }

                        &::after {
                            border-bottom: 3px solid green;
                            border-right: 3px solid green;
                            border-radius: 0 0 40px;
                            top: calc(65% - 40px);
                            left: calc(85% - 40px);
                        }
                        &::before,
                        &::after {
                            content: "";
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            box-sizing: border-box;
                        }
                        &:nth-child(2) {
                            transform: scaleX(-1);
                        }
                    }
                }
            }
        }
        &.portrait-view {
            ion-content {
                ion-row {
                    ion-col {
                        .layer {
                            &::before {
                                top: 20%;
                                left: 20%;
                            }

                            &::after {
                                top: calc(80% - 40px);
                                left: calc(80% - 40px);
                            }
                        }
                    }
                }
            }
        }
    }
    &:not(.camera-open) {
        > * {
            opacity: 1;
        }
    }
}
