@mixin context($old-context, $new-context) {
	$parent : &;

	@at-root #{selector-replace($parent, $old-context, $new-context)} {
		@content;
	}
}

@mixin variant($selector) {
	$parent : &;
	@at-root #{$selector}#{$parent} {
		@content;
	}
}

$inactive-grey:#F8F9FA;
