@import "../../../../../theme/app";

ion-item{
    &.item{
        --background:transparent;
        --border-color:#F8F9FA;
        --highlight-color-focused:transparent;
        &.item-has-focus{
            caret-color: white;
            --border-color:#ffffff;
            --highlight-height: 0px;
            --highlight-color-focused:#ffffff;
        }
        &.item-has-value{
            --border-color:#ffffff;
        }
        ion-label{
            &.label-stacked{
                margin-right:0;
                span{
                    color:$inactive-grey;
                    @include context(".item",".item.item-has-focus"){
                        color:white;
                    }
                }
            }
        }
        &::part(native){
            --padding-start:0px;
            --padding-end:0px;
        }
        ion-label{
            span{
                font-weight: 600;
                font-size: 17px;
            }
            &.label-stacked{
                transform:translateY(50%) scale(1);
            }
        }
        &.item-has-value,
        &.item-has-focus{
            ion-label{
                &.label-stacked{
                    transform:translateY(0) scale(1);
                }
            }
        }
        ion-input{
            &.has-value{
                --color:#F8F9FA;
                transform:translate(0) scale(1);
            }
            &.has-focus{
                &.has-value{
                    --color:#fff;
                }
            }
        }
        + ion-item{
            padding-top:30px;
        }
        --ion-safe-area-right:0;
    }
}