.item-input{
    position: relative;
    ion-label{
    }
    ion-icon{
        font-size: 18px;
        position: absolute;
        right:5px;
        top:32px;
        z-index: 20;
    }
    .sc-ion-label-md-h{
        pointer-events: auto;
    }
}