.item-input{
    position: relative;
    border-bottom:1px solid red;
    ion-icon{
        &.pass{
            font-size: 18px;
            position: absolute;
            right:5px;
            bottom:0;
            z-index: 20;
            pointer-events: all;
            width:18px;
            height:18px;
            padding:10px 0px 8px 10px;
            box-sizing: border-box;
        }
    }
}