ion-content{
    // background-color: transparent;
    // background-image: url('../../../public/assets/img/AppBackground.jpg');
    --background:none;

    background-repeat: no-repeat;
    background-size: cover;
    ion-grid{
        padding:25px;
    }
}