.vehiclesSearch {
    ion-content {
        ion-row {
            ion-col {
                padding-top: 0;
            }
        }
    }

    .vehicles-btn {
        display: none;
    }

    .special-list {
        contain: none;

    }
}