.file-uploader {
    ion-row {
        width: 100%;
        ion-item.item {
            & + ion-item.item {
                padding-top: 0;
                ion-progress-bar {
                    --inner-padding-end: 0px;

                    // display: none;
                    &::part(progress) {
                        transition: unset;
                    }
                }
            }
        }
    }
}
