.vehiclePhotos {
    ion-row {
        height: 100%;
        .centered-camera-button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            justify-content: center;
            ion-buttons {
                justify-content: center;
                ion-button {
                    height: 50px;
                    margin-bottom: 30px;
                    ion-icon {
                        font-size: 50px;
                    }
                }
            }
            ion-label {
                width: 50%;
                text-align: center;
            }
        }
        ion-list{
            ion-item{
                &.item{
                    border-bottom-color:rgba(248,249,250,0.25);
                }
            }

        }
    }
    &.camera-open {
        background-image: none;
        background-color: transparent;
        ion-header,
        ion-content,
        ion-footer {
            opacity: 1;
        }
        .checkmarks {
            height: 80vh;
            ion-list {
                height: 100%;
                ion-item {
                    height: 100%;
                    position: relative;
                    &::part(native) {
                        transform-origin: center center;
                        width: 80vh;
                        height: 100vw;
                        // transform: rotate(90deg);
                    }
                    > ion-checkbox {
                        // position: absolute;
                        top: 0;
                        left: 0;
                        &:nth-of-type(3) {
                            transform: translate(50px, 100px);
                        }

                        .item-native {
                            height: 80vh;
                        }
                    }
                }
            }
        }
        ion-header{
            border:none;
            ion-toolbar{
                --background:black;
                --border-width:0;
            }
        }
        ion-footer{
            display: none;
            
        }
        ion-content{
            .forbidden-container{
                background:black;
                position: absolute;
                width:100%;
                height:100%;
                top:0;
                left:0;
                display: flex;
                justify-content: center;
                align-items: center;
                .forbidden-message{
                    display: flex;
                    max-width:60vw;
                    flex-direction: column;
                    align-items: center;
                    background:#2E3134;
                    padding:15px;
                    border-radius: 15px;
                    ion-label{
                        text-align: center;
                    }
                    ion-icon{
                        margin-top:20px;
                        font-size: 44px;
                    }
                }
            }
        }
        
        &.landscape{
            ion-footer{
                display: block;
                transform-origin: bottom right;
                transform: rotate(270deg) translateX(100%);
                width: 100vh;
                bottom: 0;
                right: 0;
                position: absolute;
                border-top-width: 0px;
                border-image:none;
                &::before{
                    content:none;
                }
            }
            ion-content{
                .forbidden-container{
                    display: none;
                }
                .full-image-container{
                    // display: none;
                    position: absolute;
                    width:0;
                    height:0;
                    overflow: hidden;
                    bottom:0;
                    left:0;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
        
                    // transition: width 3s linear,
                    //             height 3s linear,
                    //             top 3s linear,
                    //             left 3s linear,
                    //             bottom 3s linear,
                    //             right 3s linear;
                }
                ion-button{
                    position: absolute;
                    z-index: 20;
                    height:38px;
                    margin-left:14px;
                    ion-icon{
                        font-size: 20px;
                    }
                }
            }
            &.show{
                ion-header{
                    display: none;
                }
                ion-content{
                    z-index: 11;
                    .full-image-container{
                        display: block;
                        // position: relative;
                        left:0;
                        top:0;
                        bottom:0;
                        right:0;
                        height:100%;
                        width: 100%;
                        .image-full{
                            height:100%;
                            width: 100%;
                            object-fit: cover;
                            position: absolute;
                            // left:0;
                            // top:-44px;
                            transform-origin: center;
                            object-fit: cover;
                            // transform:translateZ(-1)
                            // transform:rotate(-90deg) ;tFGq
                            
                        }
                    }
                }
            
            }
            .forbidden-container{
                display: none;
            }
            ion-header{
                ion-toolbar{
                    --background:transparent;
                    
                }
            }
            
        }

    }
    &:not(.camera-open) {
        ion-header,
        ion-content,
        ion-footer {
            opacity: 1;
        }
    }
}
