.twoFaSelect{
    ion-content{
        p{
            margin-block-start: 0px;
            margin-block-end: 0px;
        }
        .title{
            font-size: 17px;
        }
        ion-list{
            ion-item{
                ion-icon{
                    width:18px;
                    height:18px;
                }
            }
        }
    }    

}